html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: 10px;
    scrollbar-color: #4a74e0 #4d4d4d ;
}

::-webkit-scrollbar {
    width: 5px; 
    background: #4d4d4d;
}

::-webkit-scrollbar-thumb {
    background: #4a74e0;
}

*:active {
    outline: none !important ;
    border: none!important;
}
    
*:focus {outline:0 !important;}